<!DOCTYPE html>
<html>
<head>

    <title>
        Login
    </title>
    
<style>
    h1{
        font-size: 60px;
    }
    #textbox{
        font-size: 30px;
        
    }
</style>


</head>

<body>

    <div style="margin: 20%;margin-top:30px">
        <h1>
            Login
        </h1><hr>
        <form action="/login" method="post" id="textbox" >
            Username: <input type="text" name="username" style="height: 30px;font-size:25px;width:180px; "><br>
            Password:&nbsp&nbsp<input type="password" name="password" style="height: 30px;">
         <br>   
        <input value="submit" type="submit" style="font-size:20px;margin-top:20px;background-color:aqua;">
    </form>
    <div style="color: red;margin-top:20px;font-weight:700;" >{{status}}</div>
        <br>

    <a href="{{url_for('signup')}}">Don't have an account? Create one!
    </a>

    </div>
</body>
</html>